.site{
    display: flex;
    align-items: center;
    padding: 20px 40px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
    text-align: center;

}


a {
    color: inherit;
    text-decoration: none;
}

.logo {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 0.75rem;
    color: black;
}

.text {
    font-size: 1.6rem;
    font-weight: bold;
    color: forestgreen;
}

.button {
    display: flex;
    gap: 5px;
}

.btn {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    gap: 1px;
    margin-left: 40px;
}
